@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    * {
        padding: 0px;
        margin: 0px
    }

    body {
        padding: 10px;
        height: 100vh;
        width: 100vw
    }
}